@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins/Poppins-Regular.woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins/Poppins-Medium.woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins/Poppins-SemiBold.woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins/Poppins-Bold.woff2");
    font-weight: 700;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #e1e1e1;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    color: #4a4a4a;
  }

  :root {
    font-family: "Poppins";

    color: #4a4a4a;
    background-color: #eeeeee;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
